In [5]:
import pandas as pd

df_dim_authors = pd.read_csv("dim_authors.csv")

# hapus column institution
df_dim_authors = df_dim_authors.drop(columns=["institution"])
# ubah nidn menjadi integer
df_dim_authors["nidn"] = df_dim_authors["nidn"].fillna(0).astype(int)
# orcid missing valeu di isi tidak ada
df_dim_authors["orcid"] = df_dim_authors["orcid"].fillna("tidak ada")

df_dim_authors.head()

,author_id,name,nidn,orcid
0,https://openalex.org/A5048632251,Eddy Suryanto Soegoto,410036002,tidak ada
1,https://openalex.org/A5052898875,Irawan Afrianto,405047901,https://orcid.org/0000-0003-3245-6793
2,https://openalex.org/A5077761860,Senny Luckyardi,420028204,https://orcid.org/0000-0001-9954-7433
3,https://openalex.org/A5030771199,Cherry Dharmawan,420017201,https://orcid.org/0000-0002-5221-8787
4,https://openalex.org/A5056478165,Taryana Suryana,416126901,tidak ada

In [9]:
import pandas as pd

df_dim_vanue = pd.read_csv("dim_venues.csv")
df_dim_vanue.head()

,venue_name,publisher,issn,e_issn,venue_id
0,Komputika : Jurnal Sistem Komputer,Universitas Komputer Indonesia,2655-3198; 2252-9039,2655-3198,VEN_974cd0a1
1,Jurnal Agregasi : Aksi Reformasi Government da...,Universitas Komputer Indonesia,2579-3047; 2337-5299,2579-3047,VEN_e9d6d125
2,Jurnal Manajemen Informatika (JAMIKA),Universitas Komputer Indonesia,2655-6960; 2088-4125,2655-6960,VEN_e99ec3eb
3,Jurnal Teknologi dan Informasi,Universitas Komputer Indonesia,2655-6839; 2088-2270,2655-6839,VEN_444398b3
4,Jurnal Common,Universitas Komputer Indonesia,2580-6386; 2654-9271,2580-6386,VEN_98ee4175